/* GLOBAL */
*{
    box-sizing: border-box;
    /* dan layout voi float, cac thanh phan trong float giu nguyen kich thuoc ma khong bi rot xuong hang ben duoi */
}
html, body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.clear{
    clear: both;
}
h2{
    font-size: 25px;
 text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 10px;
}
.line{
    background-image: url(./img/line.png);
    background-position: center;
    height: 25px;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}
/* HEARDER */
.header__logoImg{
    float: left;
}
.header__logoSlogan{
    float: right;
    margin-right: 120px;
}
.header__navbar ul {
list-style: none;
border-top: 1px solid #e8e8e8 ;
border-bottom: 1px solid #e8e8e8 ;
text-align: center;
padding: 15px 0;
}
.header__navbar ul li{
display: inline;


}
.header__navbar ul a{
    text-decoration: none;
    color:#636363;
    text-transform:uppercase ;
     padding: 0 0.5em; 
    font-weight: bold;
    font-size: 1.13vw;
   }
   .header__navbar ul li:hover{
    border-bottom: 2px solid #b31c25;
   }
   .header__navbar ul .active{
    border-bottom: 2px solid #b31c25;
   }
   /* CAROUSEL */
   .carousel{
       background-image: url(./img/carousel.jpg);
       height: 500px;
       /* background-repeat: no-repeat; */
       background-size: cover;
       background-position:left center;
       margin-top: 20px;
   }
   /* INTRODUCTION */
   .intro p{
       text-align: center;
       font-size: 16px;
       color:#636363;
       line-height: 25px;
       padding: 0 25px;
   }
/* PROGRAMS */
.programs__item{
    float: left;
    width: 25%;
    padding: 0 10px;
}
.programs__item img{
    width: 100%;
}
.programs__item h3{
    color:#b31c25 ;
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0;
}
.programs__item p{
    color: #636363;
    margin:0 ;
    font-size: 15px;
}

/* NEWS */
.news__left, .news__right{
    float: left;
    width: 50%;
    padding: 0 5px;
}


.news__text img{
    width: 100%;
display: block;    
}
.news__text{
    position: relative;
}
.news__text p{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 10px 15px;
    margin:0;
    bottom: 10px;
    text-align: justify;

}
.news__left .news__text p{
    font-size: 24px;
}
/* NEWS_RIGHT */

.news__small-item{
    float: left;
    width: 50%;
  
}
.news__text hr{
    margin: 0;
    height: 5px;
}

/* FOOTER */
.footer{
    background-color: #b31c25;
    color: white;
    /* height: 100px; */
}
.footer img{
    float: left;
    padding: 20px 50px;
}
.footer p{
    float: right;
    width: 30%;
    word-spacing: 2px;
    text-align: justify;
    padding: 20px;
}
